{% extends 'portal/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

    {% include 'portal/templates/secondary_nav.html' %}
    {% include 'portal/templates/quick_links.html' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Library facilities</h3>
                </div> <!-- /#panel-heading -->
                <div class="panel-body">
                    {% if alert_success %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ alert_success }}
                        </div>
                    {% endif %}
                    {% if alert_danger %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ alert_danger }}
                        </div>
                    {% endif %}
                    <a class = "btn btn-primary" href="{% url 'portal:newlibrary_facilities' application %}">New</a>
                    <div class="table-responsive">
                        {% if library_facilities %}
                            <table class="table">
                                <tr>
                                    <th>Working Hours</th>
                                    <th>Annual Budget</th>
                                    <th>multimedia_pcs</th>
                                    <th>Room Seats</th>
                                    <th>Barcode_rf</th>
                                    <th>Action</th>
                                </tr>
                                {% for library_facilities in library_facilities %}
                                    <tr>
                                        <td>{{ library_facilities.working_hours }}</td>
                                        <td>{{ library_facilities.current_annual_budget }}</td>
                                        <td>{{ library_facilities.multimedia_pcs }}</td>
                                        <td>{{ library_facilities.reading_room_seats }}</td>
                                        <td>{% if library_facilities.barcode_rf %} Yes {% else %} No {% endif %}</td>
                                        <td><a href="{% url 'portal:editlibrary_facilities' library_facilities.application_id library_facilities.id %}">Edit</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>

                </div> <!-- /.panel-body -->
            </div> <!-- /.panel -->
        </div> <!-- /.col -->
    </div> <!-- /.row -->
{% endblock %}
{% block javascript %}
    <script src="{% static 'portal/js/portal.js' %}"></script>
{% endblock %}
