{% extends 'portal/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load portaldata %}
{% block content %}

    {% include 'portal/templates/secondary_nav.html' %}
    {% include 'portal/templates/quick_links.html' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Per Land Details</h3>
                </div>
                <div class="panel-body">
                    {% if alert_success %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ alert_success }}
                        </div>
                    {% endif %}
                    {% if alert_danger %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ alert_danger }}
                        </div>
                    {% endif %}
                    <form role="form" action="" method="POST"> {% csrf_token %}
                        {% with WIDGET_ERROR_CLASS='my_error' WIDGET_REQUIRED_CLASS='my_required' %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="building_name">building_name</label>
                                    {{ form.building_name.errors }}
                                    {% render_field form.building_name class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="building_number">building_number</label>
                                    {{ form.building_number.errors }}
                                    {% render_field form.building_number class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="sanct_build_area">sanct_build_area</label>
                                    {{ form.sanct_build_area.errors }}
                                    {% render_field form.sanct_build_area class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="const_build_area">const_build_area</label>
                                    {{ form.const_build_area.errors }}
                                    {% render_field form.const_build_area class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="approved_carpet_area_inst">approved_carpet_area_inst</label>
                                    {{ form.approved_carpet_area_inst.errors }}
                                    {% render_field form.approved_carpet_area_inst class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="const_carpet_area_inst">const_carpet_area_inst</label>
                                    {{ form.const_carpet_area_inst.errors }}
                                    {% render_field form.const_carpet_area_inst class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="approved_carpet_area_admin">approved_carpet_area_admin</label>
                                    {{ form.approved_carpet_area_admin.errors }}
                                    {% render_field form.approved_carpet_area_admin class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="const_carpet_area_admin">const_carpet_area_admin</label>
                                    {{ form.const_carpet_area_admin.errors }}
                                    {% render_field form.const_carpet_area_admin class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="approved_carpet_area_amen">approved_carpet_area_amen</label>
                                    {{ form.approved_carpet_area_amen.errors }}
                                    {% render_field form.approved_carpet_area_amen class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="const_carpet_area_amen">const_carpet_area_amen</label>
                                    {{ form.const_carpet_area_amen.errors }}
                                    {% render_field form.const_carpet_area_amen class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="total_area_approved">total_area_approved</label>
                                    {{ form.total_area_approved.errors }}
                                    {% render_field form.total_area_approved class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="total_area_constructed">total_area_constructed</label>
                                    {{ form.total_area_constructed.errors }}
                                    {% render_field form.total_area_constructed class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="activities_conducted">activities_conducted</label>
                                    {{ form.activities_conducted.errors }}
                                    {% render_field form.activities_conducted class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="non_aicte_courses">non_aicte_courses</label>
                                    {{ form.non_aicte_courses.errors }}
                                    {% render_field form.non_aicte_courses class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="approving_authority">approving_authority</label>
                                    {{ form.approving_authority.errors }}
                                    {% render_field form.approving_authority class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="approval_date">approval_date</label>
                                    {{ form.approval_date.errors }}
                                    {% render_field form.approval_date class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="approval_number">approval_number</label>
                                    {{ form.approval_number.errors }}
                                    {% render_field form.approval_number class+='form-control' %}
                                </div>
                            </div> <!-- /.col -->
                        </div> <!-- /.row  -->
                        {% endwith %}
                        <input class="btn btn-lg btn-primary col-lg-2" type="submit">
                    </form>
                </div>
            </div> <!-- /.panel -->
        </div> <!-- /.col -->
    </div> <!-- /.row -->
{% endblock %}
{% block javascript %}
    <script src="{% static 'portal/js/portal.js' %}"></script>
{% endblock %}
