<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Quick Links</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="list-group">
                            <a class="list-group-item active" href=""><small>Institution Details</small></a>
                            <a class="list-group-item" href=""><small>Organisation Details</small></a>
                            <a class="list-group-item" href=""><small>Contact Details</small></a>
                            <a class="list-group-item" href=""><small>Land Details</small></a>
                            <a class="list-group-item" href=""><small>Building Details</small></a>
                            <a class="list-group-item" href=""><small>View Upload by RO</small></a>
                        </div> <!--/.list-group  -->
                    </div> <!-- /column -->

                    <div class="col-lg-2">
                        <div class="list-group">
                            <a class="list-group-item" href=""><small>Program Details</small></a>
                            <a class="list-group-item" href=""><small>course Details</small></a>
                            <a class="list-group-item" href=""><small>Faculty Details</small></a>
                            <a class="list-group-item" href=""><small>Instructional Area</small></a>
                            <a class="list-group-item" href=""><small>Inst.Area-Comm Fac.</small></a>
                            <a class="list-group-item" href=""><small>Administrative Area</small></a>
                        </div> <!--/.list-group  -->
                    </div> <!-- /column -->

                    <div class="col-lg-2">
                        <div class="list-group">
                            <a class="list-group-item" href=""><small>Amenties Area</small></a>
                            <a class="list-group-item" href=""><small>Other Facilities</small></a>
                            <a class="list-group-item" href=""><small>Laboratory Details</small></a>
                            <a class="list-group-item" href=""><small>Library Books</small></a>
                            <a class="list-group-item" href=""><small>eJournal</small></a>
                            <a class="list-group-item" href=""><small>Library Facilities</small></a>
                        </div> <!--/.list-group  -->
                    </div> <!-- /column -->

                    <div class="col-lg-2">
                        <div class="list-group">
                            <a class="list-group-item" href=""><small>Computation Facilities</small></a>
                            <a class="list-group-item" href=""><small>Technical Staff</small></a>
                            <a class="list-group-item" href=""><small>JFDR Details</small></a>
                            <a class="list-group-item" href=""><small>Financial Details</small></a>
                            <a class="list-group-item" href=""><small>Circulation Area</small></a>
                            <a class="list-group-item" href=""><small>Operational Funds</small></a>
                        </div> <!--/.list-group  -->
                    </div> <!-- /column -->

                    <div class="col-lg-2">
                        <div class="list-group">
                            <a class="list-group-item" href=""><small>Admin &amp; Library Staff</small></a>
                            <a class="list-group-item" href=""><small>Fees Structure</small></a>
                            <a class="list-group-item" href=""><small>Hostel Facilities</small></a>
                            <a class="list-group-item" href=""><small>Check Processing Fee</small></a>
                            <a class="list-group-item" href=""><small>Payments</small></a>
                            <a class="list-group-item" href=""><small>Anti-Ragging</small></a>
                        </div> <!--/.list-group  -->
                    </div> <!-- /column -->

                    <div class="col-lg-2">
                        <div class="list-group">
                            <a class="list-group-item" href=""><small>AQIS History</small></a>
                            <a class="list-group-item" href=""><small>Head of Institute</small></a>
                            <a class="list-group-item" href=""><small>Students Count</small></a>
                            <a class="list-group-item" href=""><small>OMBUDSMAN/Greivance</small></a>
                            <a class="list-group-item" href=""><small>Grants Received</small></a>
                            <a class="list-group-item" href=""><small>Other Links</small></a>
                        </div> <!--/.list-group  -->
                    </div> <!-- /column -->
                </div> <!-- /.row -->
            </div>
        </div>
    </div>
</div> <!-- /.row -->
