{% load active %}
<ul class="nav nav-tabs">
    <li class="{% active request '/portal/home' %}"><a href="#">Home</a></li>
    <li class="{% active request '/accounts/change-password' %}"><a href="#">Change Password</a></li>
    <li class="{% active request '/portal/student-details' %}"><a href="/portal/student-details/">Student Details</a></li>
    <li class="{% active request '/portal/cii-questionnaire' %}"><a href="#">CII Questionnaire</a></li>
    <li class="{% active request '/portal/extension' %}" class="active"><a href="/portal/extension">New/Extension Approval</a></li>
    <li class="{% active request '/portal/home' %}"><a href="#">My Institute Application Screen</a></li>
    <li class="{% active request '/portal/home' %}"><a href="#"></a></li>
</ul>
