{% extends 'portal/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

    {% include 'portal/templates/secondary_nav.html' %}
    {% include 'portal/templates/quick_links.html' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">JFDR Details</h3>
                </div> <!-- /#panel-heading -->
                <div class="panel-body">
                    {% if alert_success %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ alert_success }}
                        </div>
                    {% endif %}
                    {% if alert_danger %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ alert_danger }}
                        </div>
                    {% endif %}
                    <a class = "btn btn-primary" href="{% url 'portal:newjfdr_details' application %}">New</a>
                    <div class="table-responsive">
                        {% if jfdr_details %}
                            <table class="table">
                                <tr>
                                    <th>Bank Name</th>
                                    <th>Branch</th>
                                    <th>FDR Created</th>
                                    <th>FDR Amount</th>
                                    <th>Maturity Date</th>
                                    <th>Whether Encashed</th>
                                    <th>Date Encashed</th>
                                    <th>Action</th>
                                </tr>
                                {% for jfdr_detail in jfdr_details %}
                                    <tr>
                                        <td>{{ jfdr_detail.bank_name }}</td>
                                        <td>{{ jfdr_detail.branch }}</td>
                                        <td>{{ jfdr_detail.fdr_created }}</td>
                                        <td>{{ jfdr_detail.fdr_amount }}</td>
                                        <td>{{ jfdr_detail.fdr_maturity_date }}</td>
                                        <td>{{ jfdr_detail.whether_encashed }}</td>
                                        <td>{{ jfdr_detail.date_encashed }}</td>
                                        <td><a href="{% url 'portal:editjfdr_details' jfdr_detail.application_id jfdr_detail.id %}">Edit</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>

                </div> <!-- /.panel-body -->
            </div> <!-- /.panel -->
        </div> <!-- /.col -->
    </div> <!-- /.row -->
{% endblock %}
{% block javascript %}
    <script src="{% static 'portal/js/portal.js' %}"></script>
{% endblock %}
