{% extends 'portal/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

    {% include 'portal/templates/secondary_nav.html' %}
    {% include 'portal/templates/quick_links.html' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Laboratories Detail</h3>
                </div> <!-- /#panel-heading -->
                <div class="panel-body">
                    {% if alert_success %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ alert_success }}
                        </div>
                    {% endif %}
                    {% if alert_danger %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ alert_danger }}
                        </div>
                    {% endif %}
                    <a class = "btn btn-primary" href="{% url 'portal:newlaboratory_detail' application %}">New</a>
                    <div class="table-responsive">
                        {% if laboratory_details %}
                            <table class="table">
                                <tr>
                                    <th>Program</th>
                                    <th>Department</th>
                                    <th>Course</th>
                                    <th>Level</th>
                                    <th>Action</th>
                                </tr>
                                {% for laboratory_detail in laboratory_details %}
                                    <tr>
                                        <td>{{ laboratory_detail.program }}</td>
                                        <td>{{ laboratory_detail.department }}</td>
                                        <td>{{ laboratory_detail.course }}</td>
                                        <td>{{ laboratory_detail.level }}</td>
                                        <td><a href="{% url 'portal:editlaboratory_detail' laboratory_detail.application_id laboratory_detail.id %}">Edit</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>

                </div> <!-- /.panel-body -->
            </div> <!-- /.panel -->
        </div> <!-- /.col -->
    </div> <!-- /.row -->
{% endblock %}
{% block javascript %}
    <script src="{% static 'portal/js/portal.js' %}"></script>
{% endblock %}
