{% extends 'portal/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load portaldata %}
{% block content %}

    {% include 'portal/templates/secondary_nav.html' %}
    {% include 'portal/templates/quick_links.html' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Ombudsman Details</h3>
                </div>
                <div class="panel-body">
                    {% if alert_success %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ alert_success }}
                        </div>
                    {% endif %}
                    {% if alert_danger %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ alert_danger }}
                        </div>
                    {% endif %}
                    <form role="form" action="" method="POST"> {% csrf_token %}
                        {{ form.errors }}
                        {% with WIDGET_ERROR_CLASS='my_error' WIDGET_REQUIRED_CLASS='my_required' %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="committee_type">Committee Type</label>
                                    {{ form.committee_type.errors }}
                                    {% render_field form.committee_type class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="appointment_order_number">Appointment Order Number</label>
                                    {{ form.appointment_order_number.errors }}
                                    {% render_field form.appointment_order_number class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="date_of_appointment">Date of Appointment</label>
                                    {{ form.date_of_appointment.errors }}
                                    {% render_field form.date_of_appointment class+='form-control date' %}
                                </div>
                                <div class="form-group">
                                    <label for="name_of_member">Name of Member</label>
                                    {{ form.name_of_member.errors }}
                                    {% render_field form.name_of_member class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="profession">Profession</label>
                                    {{ form.profession.errors }}
                                    {% render_field form.profession class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    {{ form.address.errors }}
                                    {% render_field form.address class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="associated_with">Associated with</label>
                                    {{ form.associated_with.errors }}
                                    {% render_field form.associated_with class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="mobile_number">Mobile Number</label>
                                    {{ form.mobile_number.errors }}
                                    {% render_field form.mobile_number class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    {{ form.email.errors }}
                                    {% render_field form.email class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="fax_number">Fax Number</label>
                                    {{ form.fax_number.errors }}
                                    {% render_field form.fax_number class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="designation">Designation</label>
                                    {{ form.designation.errors }}
                                    {% render_field form.designation class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="department">Department</label>
                                    {{ form.department.errors }}
                                    {% render_field form.department class+='form-control' %}
                                </div>
                            </div> <!-- /.col -->
                        </div> <!-- /.row  -->
                        {% endwith %} 
                        <input class="btn btn-lg btn-primary col-lg-2" type="submit">
                    </form>
                </div>
            </div> <!-- /.panel -->
        </div> <!-- /.col -->
    </div> <!-- /.row -->
{% endblock %}
{% block javascript %}
    <script src="{% static 'portal/js/portal.js' %}"></script>
{% endblock %}
