{% extends 'portal/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load portaldata %}
{% block content %}

    {% include 'portal/templates/secondary_nav.html' %}
    {% include 'portal/templates/quick_links.html' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Contact Details</h3>
                </div>
                <div class="panel-body">
                    {% if alert_success %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ alert_success }}
                        </div>
                    {% endif %}
                    {% if alert_danger %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ alert_danger }}
                        </div>
                    {% endif %}
                    <a class = "btn btn-primary" href="{% url 'portal:newoperational_funds' application %}">New</a>
                    <div class="table-responsive">
                        {% if operational_funds %}
                            <table class="table">
                                <tr>
                                    <th>Bank Name</th>
                                    <th>Account No.</th>
                                    <th>Cash Balance</th>
                                    <th>Bank Statement Date</th>
                                </tr>
                                {% for operational_fund in operational_funds %}
                                    <tr>
                                        <td>{{ operational_fund.bank_name }}</td>
                                        <td>{{ operational_fund.account_no}}</td>
                                        <th>{{ operational_fund.bank_statement_date }}</th>
                                        <td><a href="{% url 'portal:editoperational_funds' operational_fund.application_id operational_fund.id %}">Edit</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                </div> <!-- /.panel-body -->
            </div> <!-- /.panel -->
        </div> <!-- /.col -->
    </div> <!-- /.row -->
{% endblock %}
{% block javascript %}
    <script src="{% static 'portal/js/portal.js' %}"></script>
{% endblock %}
