{% extends 'portal/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load portaldata %}
{% block content %}

    {% include 'portal/templates/secondary_nav.html' %}
    {% include 'portal/templates/quick_links.html' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Contact Details</h3>
                </div>
                <div class="panel-body">
                    {% if alert_success %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ alert_success }}
                        </div>
                    {% endif %}
                    {% if alert_danger %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ alert_danger }}
                        </div>
                    {% endif %}
                    <form role="form" action="" method="POST"> {% csrf_token %}
                        {% with WIDGET_ERROR_CLASS='my_error' WIDGET_REQUIRED_CLASS='my_required' %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="bank_name">bank_name</label>
                                    {{ form.bank_name.errors }}
                                    {% render_field form.bank_name class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="account_no">account_no</label>
                                    {{ form.account_no.errors }}
                                    {% render_field form.account_no class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="cash_balance">cash_balance</label>
                                    {{ form.cash_balance.errors }}
                                    {% render_field form.cash_balance class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="bank_statement_date">bank_statement_date</label>
                                    {{ form.bank_statement_date.errors }}
                                    {% render_field form.bank_statement_date class+='form-control date' %}
                                </div>
                            </div> <!-- /.col -->
                        </div> <!-- /.row  -->
                        {% endwith %} 
                        <input class="btn btn-lg btn-primary col-lg-2" type="submit">
                    </form>
                </div>
            </div> <!-- /.panel -->
        </div> <!-- /.col -->
    </div> <!-- /.row -->
{% endblock %}
{% block javascript %}
    <script src="{% static 'portal/js/portal.js' %}"></script>
{% endblock %}
